<div class="card text-white mb-3 my1" style="max-width: 50rem; margin:auto">
    <div class="card-header">Login</div>
    <div class="card-body mt-2">
        <form #lgForm="ngForm" (ngSubmit)="login(lgForm)">
            <div class="form-group row">
                <label for="inputEmail3" class="col-sm-2 col-form-label">Email</label>
                <div class="col-sm-10">
                    <input type="email" class="form-control" id="email" name="email" ngModel #email="ngModel" placeholder="Email" required>
                    <div class="row" *ngIf="email.touched && email.invalid">
                        <div class="invalid-feedback d-block" *ngIf="email.errors?.['required']">Required</div>
                    </div>
                </div>
            </div><br>
            <div class="form-group row">
                <label for="inputPassword3" class="col-sm-2 col-form-label">Password</label>
                <div class="col-sm-10">
                    <input type="password" class="form-control" id="password" name="password" ngModel #password="ngModel" placeholder="Password" required>
                </div><br>
            </div><br>
            <!-- <div class="form-group row">
                <div class="col-sm-2">Checkbox</div>
                <div class="col-sm-10">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="gridCheck1" [(ngModel)]="checkbox" #checkbox="ngModel" required>
                        <label class="form-check-label" for="gridCheck1">
                    Example checkbox
                  </label>
                    </div>
                </div>
            </div><br> -->
            <div class="form-group row">
                <div class="col-sm-10">
                    <button type="submit" class="btn btn-primary" [disabled]="!lgForm.valid">Sign in</button>
                </div>
            </div>
        </form>
    </div>
</div>
<!-- <app-welcome [name]="name"></app-welcome> -->
<router-outlet [name]="name"></router-outlet>