/* You can add global styles to this file, and also import other style files */

@import url("../node_modules/bootstrap/dist/css/bootstrap.min.css");
.my1 {
    max-width: 65rem;
    margin: auto;
    background-color: rgb(187, 187, 187);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
@import url("../node_modules/angular-calendar/css/angular-calendar.css");
@import url("../node_modules/font-awesome/css/font-awesome.min.css");
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/11.2.0/css/font-awesome.min.css');
@import url('https://kit.fontawesome.com/a076d05399.js');